#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh --prefix=/usr \
		--sysconfdir=/etc \
		--enable-gtk-doc\
		--disable-schemas-compile \
		--enable-compile-warnings=minimum \
		# --localstatedir=/var \
		# --libexecdir=/usr/lib/deepin-mutter \
